@charset "UTF-8";
/* 共通 */
body {
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 変数 */
/* ヘッダー */
.header__container {
  max-width: 1030px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 9.0291262136vw;
    padding: 0;
  }
}
@media screen and (min-width: 1030px) {
  .header__container {
    height: 5.8125rem;
  }
}
.header__btns {
  display: flex;
}
.header__link {
  display: block;
}
.header__arrow-image {
  margin-bottom: 1.0256410256vw;
}
@media screen and (min-width: 768px) {
  .header__arrow-image {
    margin-bottom: 0.3883495146vw;
  }
}
@media screen and (min-width: 1030px) {
  .header__arrow-image {
    margin-bottom: 0.25rem;
  }
}

.btn {
  border-radius: 5.1282051282vw;
  font-size: 3.0769230769vw;
  line-height: 1.75;
  padding: 1.2820512821vw 3.5897435897vw 1.2820512821vw 2.8205128205vw;
  display: block;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 0.5825242718vw 2.5242718447vw;
    border-radius: 2.4446601942vw;
    font-size: 2.0582524272vw;
  }
}
@media screen and (min-width: 1030px) {
  .btn {
    padding: 0.375rem 1.625rem;
    border-radius: 1.57375rem;
    font-size: 1.325rem;
  }
}

.btn--pink {
  background-color: #fa7da3;
  margin-right: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .btn--pink {
    margin-right: 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .btn--pink {
    margin-right: 0.625rem;
  }
}

.btn--green {
  background-color: #49c43d;
}
@media screen and (min-width: 768px) {
  .btn--green {
    padding: 0.5825242718vw 1.7475728155vw;
  }
}
@media screen and (min-width: 1030px) {
  .btn--green {
    padding: 0.375rem 1.125rem;
  }
}

/* メインビジュアル */
.cover {
  background-color: #fa7da3;
  background-image: url("/assets/image/main_visual_sp.png");
  background-position: bottom left;
  background-size: 53.5%;
  height: 80.2564102564vw;
}
@media screen and (min-width: 768px) {
  .cover {
    height: 59.4174757282vw;
    background-image: url("/assets/image/main_visual_pc.png");
    background-size: 33%;
    background-position: calc(19% + 20px) bottom;
  }
}
@media screen and (min-width: 1030px) {
  .cover {
    height: 38.25rem;
  }
}
.cover__title {
  font-size: 10.7692307692vw;
  margin: 3.4102564103vw 0 0 4.4871794872vw;
}
@media screen and (min-width: 768px) {
  .cover__title {
    margin: 0 0 0 1.5533980583vw;
    line-height: 1;
  }
}
@media screen and (min-width: 1030px) {
  .cover__title {
    margin: 0 0 0 1rem;
  }
}
.cover__container {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .cover__container {
    justify-content: space-evenly;
  }
}
.cover__items {
  display: flex;
  align-items: center;
  background-color: #fca4bf;
  box-shadow: 4px 4px #e77497;
  padding: 5.8974358974vw 5.8205128205vw 4.6153846154vw 5.8205128205vw;
}
@media screen and (min-width: 768px) {
  .cover__items {
    padding: 2.3300970874vw 5.8252427184vw;
    margin-right: 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__items {
    padding: 1.5rem 3.75rem;
    margin-right: 1.25rem;
  }
}
.cover__text--font-color-pink {
  background-color: #FFF;
  color: #fa7da3;
  font-size: 3.3333333333vw;
  font-weight: bold;
  padding: 0 1.0256410256vw;
  margin-right: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .cover__text--font-color-pink {
    padding: 1.1650485437vw 0.7766990291vw 1.1650485437vw 0.9708737864vw;
    margin-right: 1.4563106796vw;
    font-size: 2.8398058252vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__text--font-color-pink {
    padding: 0.75rem 0.5rem 0.75rem 0.625rem;
    margin-right: 0.9375rem;
    font-size: 1.828125rem;
  }
}
.cover__text--font-color-white {
  color: #FFF;
  font-size: 6.1538461538vw;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .cover__text--font-color-white {
    font-size: 5.2427184466vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__text--font-color-white {
    font-size: 3.375rem;
  }
}
.cover__price {
  font-size: 19.4871794872vw;
  font-weight: bold;
  color: #fffd7a;
  line-height: 0.16;
}
@media screen and (min-width: 768px) {
  .cover__price {
    line-height: 0.76;
    font-size: 16.6019417476vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__price {
    font-size: 10.6875rem;
  }
}
.cover__price--font-small {
  font-size: 9.2307692308vw;
}
@media screen and (min-width: 768px) {
  .cover__price--font-small {
    font-size: 7.8640776699vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__price--font-small {
    font-size: 5.0625rem;
  }
}
.cover__price-month {
  color: #FFF;
  text-align: right;
  margin: 0.5897435897vw 6.7948717949vw 0 0;
  font-size: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .cover__price-month {
    padding-right: 2.5708737864vw;
    font-size: 2.5708737864vw;
    margin: 0 5.8252427184vw 0 0;
  }
}
@media screen and (min-width: 1030px) {
  .cover__price-month {
    padding-right: 1.655rem;
    font-size: 1.655rem;
    margin: 0 3.75rem 0 0;
  }
}
.cover__price-month---small {
  font-size: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .cover__price-month---small {
    font-size: 1.6524271845vw;
  }
}
@media screen and (min-width: 1030px) {
  .cover__price-month---small {
    font-size: 1.06375rem;
  }
}
.cover__points {
  margin: 5.641025641vw 6.6666666667vw 0 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .cover__points {
    margin: 4.1747572816vw 1.9417475728vw 0 0;
  }
}
@media screen and (min-width: 1030px) {
  .cover__points {
    margin: 2.6875rem 1.25rem 0 0;
  }
}
.cover__point {
  border: 1px solid #FFF;
  text-align: center;
  margin-bottom: 3.4615384615vw;
  color: #FFF;
  font-size: 4.6153846154vw;
}
@media screen and (min-width: 768px) {
  .cover__point {
    margin-bottom: 5.1282051282vw;
    font-size: 2.7184466019vw;
    line-height: 2.4;
  }
}
@media screen and (min-width: 1030px) {
  .cover__point {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
  }
}

/* 今だけプレゼント */
.present {
  background-color: #fffedd;
  padding: 4.1025641026vw 5.0846153846vw 4.1025641026vw 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .present {
    padding: 3.2038834951vw 2.0388349515vw 2.2330097087vw 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .present {
    padding: 2.0625rem 1.3125rem 1.4375rem 1.3125rem;
  }
}
.present__container {
  max-width: 550px;
  margin-inline: auto;
}
.present__text {
  font-size: 5.3846153846vw;
  font-weight: normal;
  color: #fa7da3;
  position: relative;
  text-align: center;
  margin-bottom: 2.4025641026vw;
  letter-spacing: -0.4871794872vw;
}
@media screen and (min-width: 768px) {
  .present__text {
    font-size: 3.3009708738vw;
    margin-bottom: 1.4563106796vw;
    letter-spacing: -0.1844660194vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__text {
    font-size: 2.125rem;
    margin-bottom: 0.9375rem;
    letter-spacing: -0.11875rem;
  }
}
.present__text::before, .present__text::after {
  position: relative;
  display: inline-block;
  content: "";
  background: #fa7da3;
  width: 0.5128205128vw;
  height: 6.6666666667vw;
  margin-top: -0.2em;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .present__text::before, .present__text::after {
    width: 0.1941747573vw;
    height: 2.5242718447vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__text::before, .present__text::after {
    width: 0.125rem;
    height: 1.625rem;
  }
}
.present__text::before {
  transform: rotate(-31deg);
  margin-right: 4.4102564103vw;
}
@media screen and (min-width: 768px) {
  .present__text::before {
    margin-right: 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__text::before {
    margin-right: 0.625rem;
  }
}
.present__text::after {
  transform: rotate(31deg);
  margin-left: 1.4102564103vw;
}
.present__content {
  text-align: center;
}
.present__text--background-pink {
  background-color: #fa7da3;
  color: #FFF;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
  border: 1px solid #fa7da3;
  line-height: 1.3;
  font-size: 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .present__text--background-pink {
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
    font-size: 3.1067961165vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__text--background-pink {
    border-radius: 0.625rem 0.625rem 0 0;
    font-size: 2rem;
  }
}
.present__text--background-white {
  background-color: #FFF;
  border-radius: 0 0 2.5641025641vw 2.5641025641vw;
  border: 1px solid #fa7da3;
  font-size: 6.9230769231vw;
  line-height: 1.4;
  color: #fa7da3;
  padding: 0.1538461538vw 0 0.1538461538vw 2.7435897436vw;
}
@media screen and (min-width: 768px) {
  .present__text--background-white {
    border-radius: 0 0 0.9708737864vw 0.9708737864vw;
    font-size: 4.2398058252vw;
    padding: 0;
  }
}
@media screen and (min-width: 1030px) {
  .present__text--background-white {
    border-radius: 0 0 0.625rem 0.625rem;
    font-size: 2.729375rem;
  }
}
.present__text-three {
  font-size: 10.7692307692vw;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .present__text-three {
    font-size: 6.5951456311vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__text-three {
    font-size: 4.245625rem;
  }
}
.present__description {
  font-size: 2.5641025641vw;
  text-align: center;
  margin-top: 1.4615384615vw;
}
@media screen and (min-width: 768px) {
  .present__description {
    font-size: 1.359223301vw;
    margin-top: 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .present__description {
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }
}

/* カウンセリング予約申し込み */
.application {
  padding: 1.7948717949vw 5.1282051282vw 7.6923076923vw 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .application {
    padding: 5.1941747573vw 1.9417475728vw 2.9126213592vw 1.9417475728vw;
  }
}
@media screen and (min-width: 1030px) {
  .application {
    padding: 3.34375rem 1.25rem 1.875rem 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .application--padding-bottom {
    padding-bottom: 5.8252427184vw;
  }
}
@media screen and (min-width: 1030px) {
  .application--padding-bottom {
    padding-bottom: 3.75rem;
  }
}
.application__container {
  max-width: 570px;
  margin-inline: auto;
}
.application__text {
  font-size: 5.3846153846vw;
  color: #fa7da3;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2.1282051282vw;
  letter-spacing: 0.5128205128vw;
  padding-left: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .application__text {
    font-size: 3.3009708738vw;
    margin-bottom: 1.5533980583vw;
    line-height: 1.339;
    letter-spacing: 0.2427184466vw;
    padding-left: 1.4368932039vw;
  }
}
@media screen and (min-width: 1030px) {
  .application__text {
    font-size: 2.125rem;
    margin-bottom: 1rem;
  }
}
.application__btn {
  font-size: 5.3846153846vw;
  border-radius: 10.2564102564vw;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.3;
  padding: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .application__btn {
    font-size: 2.0388349515vw;
    border-radius: 6.3145631068vw;
  }
}
@media screen and (min-width: 1030px) {
  .application__btn {
    font-size: 1.3125rem;
    border-radius: 4.065rem;
  }
}
.application__btn-text {
  width: 51.2820512821vw;
  margin: 0 12.8205128205vw;
}
@media screen and (min-width: 768px) {
  .application__btn-text {
    width: 48.5436893204vw;
    margin: 0 2.9126213592vw;
    font-size: 3.3009708738vw;
  }
}
@media screen and (min-width: 1030px) {
  .application__btn-text {
    width: 31.25rem;
    margin: 0 1.875rem;
    font-size: 2.125rem;
  }
}
/* 無料体験内容 */
.free-trial {
  padding: 0 5.1282051282vw 8.7179487179vw 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .free-trial {
    padding: 1.7475728155vw 1.9417475728vw 4.854368932vw 1.9417475728vw;
  }
}
@media screen and (min-width: 1030px) {
  .free-trial {
    padding: 1.125rem 1.25rem 3.125rem 1.25rem;
  }
}
.free-trial__container {
  max-width: 570px;
  margin-inline: auto;
}
.free-trial__text {
  font-size: 4.358974359vw;
  text-align: center;
  padding: 1.7179487179vw 0;
  font-weight: 600;
  color: #50bfff;
  border-top: 1px solid #50bfff;
  border-bottom: 1px solid #50bfff;
  line-height: 1.6;
  letter-spacing: 0.4102564103vw;
}
@media screen and (min-width: 768px) {
  .free-trial__text {
    font-size: 2.7184466019vw;
    padding: 0.7766990291vw 0;
    letter-spacing: 0.2524271845vw;
  }
}
@media screen and (min-width: 1030px) {
  .free-trial__text {
    font-size: 1.75rem;
    padding: 0.5rem 0;
    letter-spacing: 0.1625rem;
  }
}
.free-trial__hair-removal {
  margin-top: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .free-trial__hair-removal {
    margin-top: 1.4563106796vw;
  }
}
@media screen and (min-width: 1030px) {
  .free-trial__hair-removal {
    margin-top: 0.9375rem;
  }
}
.free-trial__course {
  font-size: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .free-trial__course {
    font-size: 2.2194174757vw;
    letter-spacing: -0.0194174757vw;
  }
}
@media screen and (min-width: 1030px) {
  .free-trial__course {
    font-size: 1.42875rem;
    letter-spacing: -0.0125rem;
  }
}
.free-trial__text--mini {
  font-size: 2.8205128205vw;
  padding-left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .free-trial__text--mini {
    font-size: 1.7436893204vw;
    padding-left: 0.0970873786vw;
  }
}
@media screen and (min-width: 1030px) {
  .free-trial__text--mini {
    font-size: 1.1225rem;
    padding-left: 0.0625rem;
  }
}

/* KIRAMEKI BEAUTY LABOが選ばれる 3つのポイント */
.select-points {
  background-color: #fdf0f5;
  padding: 10.5128205128vw 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .select-points {
    padding: 5.2427184466vw 2.0388349515vw 5.9223300971vw 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points {
    padding: 3.375rem 1.3125rem 3.8125rem 1.3125rem;
  }
}
.select-points__container {
  max-width: 780px;
  margin-inline: auto;
}
.select-points__title {
  font-size: 4.6153846154vw;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .select-points__title {
    font-size: 1.754368932vw;
    line-height: 1;
    margin-bottom: 1.6019417476vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__title {
    font-size: 1.129375rem;
    margin-bottom: 1.03125rem;
  }
}
.select-points__title-text {
  padding: 0 0 0 0.9743589744vw;
}
@media screen and (min-width: 768px) {
  .select-points__title-text {
    padding: 0;
  }
}
.select-points__three-point {
  font-size: 8.2051282051vw;
  text-align: center;
  color: #fa7da3;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.8974358974vw;
}
@media screen and (min-width: 768px) {
  .select-points__three-point {
    font-size: 4.0776699029vw;
    margin-top: 0;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__three-point {
    font-size: 2.625rem;
  }
}
.select-points__content {
  margin-top: 6.4102564103vw;
}
@media screen and (min-width: 768px) {
  .select-points__content {
    margin-top: 4.4368932039vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__content {
    margin-top: 2.85625rem;
  }
}
.select-points__heading {
  background-color: #fa7da3;
  color: #fff;
  font-size: 4.6153846154vw;
  text-align: center;
  padding: 1.4871794872vw 0;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
  border: 1px solid #fa7da3;
}
@media screen and (min-width: 768px) {
  .select-points__heading {
    font-size: 2.7184466019vw;
    padding: 1.213592233vw 0;
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__heading {
    font-size: 1.75rem;
    padding: 0.78125rem 0;
    border-radius: 0.625rem 0.625rem 0 0;
  }
}
.select-points__description {
  background-color: #fff;
  padding: 2.8205128205vw 4.6153846154vw 3.8461538462vw;
  text-align: center;
  border: 1px solid #fa7da3;
  border-radius: 0 0 2.5641025641vw 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .select-points__description {
    padding: 1.9417475728vw 4.1262135922vw 1.4563106796vw 4.1262135922vw;
    border-radius: 0 0 0.9708737864vw 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__description {
    padding: 1.25rem 2.65625rem 0.9375rem 2.65625rem;
    border-radius: 0 0 0.625rem 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .select-points__description-point3 {
    padding: 2.2330097087vw 4.1262135922vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__description-point3 {
    padding: 1.4375rem 2.65625rem;
  }
}
.select-points__text {
  text-align: left;
  font-size: 3.5897435897vw;
  letter-spacing: -0.1282051282vw;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .select-points__text {
    font-size: 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__text {
    font-size: 1.3125rem;
  }
}
.select-points__items {
  display: flex;
  align-items: center;
  margin-top: 2.8205128205vw;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .select-points__items {
    margin-top: 2.0388349515vw;
    padding: 0 5.0485436893vw;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__items {
    margin-top: 1.3125rem;
    padding: 0 3.25rem;
  }
}
.select-points__item {
  text-align: center;
  width: 36.6666666667vw;
}
@media screen and (min-width: 768px) {
  .select-points__item {
    width: 22.8155339806vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__item {
    width: 14.6875rem;
    height: 12.5rem;
  }
}
.select-points__image {
  border: 1px solid #fa7da3;
  padding: 5.8974358974vw 9.7435897436vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .select-points__image {
    padding: 3.4951456311vw 3.6893203883vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__image {
    padding: 2.25rem 2.375rem;
  }
}
.select-points__menu {
  font-size: 3.5897435897vw;
  margin-top: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .select-points__menu {
    font-size: 2.0388349515vw;
    margin-top: 0.8737864078vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__menu {
    font-size: 1.3125rem;
    margin-top: 0.5625rem;
  }
}
.select-points__store-name {
  padding: 6.6666666667vw 9.2307692308vw;
  font-size: 4.6153846154vw;
  border: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .select-points__store-name {
    padding: 3.9805825243vw 3.4951456311vw;
    font-size: 2.8184466019vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__store-name {
    padding: 2.5625rem 2.25rem;
    font-size: 1.814375rem;
  }
}
.select-points__img {
  width: 100%;
}
.select-points__plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .select-points__plan {
    gap: 1.1650485437vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__plan {
    gap: 0.75rem;
  }
}
.select-points__plan-item {
  width: 25.641025641vw;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 768px) {
  .select-points__plan-item {
    width: 9.7087378641vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__plan-item {
    width: 6.25rem;
  }
}
.select-points__full-body-plan-text {
  font-size: 5.8974358974vw;
  font-weight: 600;
  margin-bottom: 7.1794871795vw;
}
@media screen and (min-width: 768px) {
  .select-points__full-body-plan-text {
    font-size: 2.2330097087vw;
    margin-bottom: 1.4077669903vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__full-body-plan-text {
    font-size: 1.4375rem;
    margin-bottom: 0.90625rem;
  }
}
.select-points__image-full-body {
  margin-left: 1.4375rem;
}
.select-points__text-point-two {
  font-size: 3.5897435897vw;
  margin-bottom: 4.6153846154vw;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .select-points__text-point-two {
    font-size: 2.0388349515vw;
    margin-bottom: 1.7475728155vw;
    padding: 0 4.0776699029vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__text-point-two {
    font-size: 1.3125rem;
    margin-bottom: 1.125rem;
    padding: 0 2.625rem;
  }
}
.select-points__partial-hair-removal-plan {
  font-size: 5.8974358974vw;
  font-weight: 600;
  margin: 14.8717948718vw 7.1794871795vw 7.1794871795vw;
}
@media screen and (min-width: 768px) {
  .select-points__partial-hair-removal-plan {
    font-size: 2.2330097087vw;
    margin: 5.0485436893vw 2.7184466019vw 2.7184466019vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__partial-hair-removal-plan {
    font-size: 1.4375rem;
    margin: 3.25rem 1.75rem 1.75rem;
  }
}
.select-points__point-two {
  padding: 5.1282051282vw 0;
}
@media screen and (min-width: 768px) {
  .select-points__point-two {
    padding: 2.2330097087vw 0 2.6213592233vw 0;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__point-two {
    padding: 1.4375rem 0 1.6875rem 0;
  }
}
.select-points__plan-text {
  font-size: 3.5897435897vw;
  color: #fa7da3;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .select-points__plan-text {
    font-size: 1.359223301vw;
  }
}
@media screen and (min-width: 1030px) {
  .select-points__plan-text {
    font-size: 0.875rem;
  }
}

/* ほかにも選べる！2つのコース */
.two-courses {
  padding: 0 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .two-courses {
    padding: 1.9417475728vw 2.0388349515vw 2.9126213592vw 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses {
    padding: 1.25rem 1.3125rem 1.875rem 1.3125rem;
  }
}
.two-courses__container {
  text-align: center;
  max-width: 731px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .two-courses__items {
    display: flex;
    justify-content: space-between;
  }
}
.two-courses__content {
  margin-bottom: 7.6923076923vw;
}
@media screen and (min-width: 768px) {
  .two-courses__content {
    width: 33.9805825243vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__content {
    margin-bottom: 1.875rem;
    width: 21.875rem;
  }
}
.two-courses__title {
  font-size: 4.6153846154vw;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .two-courses__title {
    font-size: 2.3300970874vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__title {
    font-size: 1.5rem;
  }
}
.two-courses__two-course {
  font-size: 8.2051282051vw;
  font-weight: bold;
  color: #fa7da3;
  margin-bottom: 7.9487179487vw;
}
@media screen and (min-width: 768px) {
  .two-courses__two-course {
    font-size: 4.0533980583vw;
    margin-bottom: 3.0097087379vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__two-course {
    font-size: 2.609375rem;
    margin-bottom: 1.9375rem;
  }
}
.two-courses__first {
  background-color: #fdf0f5;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
  font-size: 4.6153846154vw;
  color: #fa7da3;
  padding: 3.8461538462vw 0;
  border: 1px solid #fa7da3;
  border-bottom: none;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .two-courses__first {
    padding: 1.4563106796vw 0;
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
    font-size: 2.7184466019vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__first {
    padding: 0.9375rem 0;
    border-radius: 0.625rem 0.625rem 0 0;
    font-size: 1.75rem;
  }
}
.two-courses__description {
  border: 1px solid #fa7da3;
  border-top: none;
  border-radius: 0 0 2.5641025641vw 2.5641025641vw;
  padding: 5.1282051282vw 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .two-courses__description {
    border-radius: 0 0 0.9708737864vw 0.9708737864vw;
    padding: 0.9708737864vw 2.0776699029vw 1.19375rem 1.3375rem;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__description {
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 0.625rem 1.3375rem 1.19375rem 1.3375rem;
  }
}
.two-courses__text {
  text-align: left;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .two-courses__text {
    margin-bottom: 1.4563106796vw;
    letter-spacing: 0.1941747573vw;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__text {
    margin-bottom: 0.9375rem;
    letter-spacing: 0.125rem;
  }
}
.two-courses__second {
  background-color: #fdf0f5;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
  font-size: 4.6153846154vw;
  line-height: 1;
  color: #fa7da3;
  padding: 3.8461538462vw 0;
  border: 1px solid #fa7da3;
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .two-courses__second {
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
    font-size: 2.7184466019vw;
    padding: 1.4563106796vw 0;
  }
}
@media screen and (min-width: 1030px) {
  .two-courses__second {
    border-radius: 0.625rem 0.625rem 0 0;
    font-size: 1.75rem;
    padding: 0.9375rem 0;
  }
}

/* お客様の声 */
.reviews {
  background-color: #fdf0f5;
  padding: 9.4871794872vw 0 0 0;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 3.5922330097vw 0 8.1553398058vw 0;
  }
}
@media screen and (min-width: 1030px) {
  .reviews {
    padding: 2.3125rem 0 5.25rem 0;
  }
}
.reviews__container {
  max-width: 1030px;
  margin-inline: auto;
}
.reviews__title {
  font-size: 8.1769230769vw;
  font-weight: bold;
  color: #fa7da3;
  text-align: center;
  margin: 0 0 6.6666666667vw 0;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-size: 3.9805825243vw;
    margin: 0 0 2.5242718447vw 0;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__title {
    font-size: 2.5625rem;
    margin: 0 0 1.625rem 0;
  }
}
.reviews__items {
  overflow: visible;
  display: flex;
  justify-content: center;
}
.reviews .slick-track {
  max-width: 1030px;
}
@media screen and (min-width: 768px) {
  .reviews .slick-track {
    display: flex;
    justify-content: space-evenly;
  }
}
.reviews__items .slick-slide {
  padding: 0 1.9230769231vw;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .reviews__items .slick-slide {
    padding: 0 0.7281553398vw;
    width: 33.0097087379vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__items .slick-slide {
    padding: 0 0.46875rem;
    width: 20.625rem;
  }
}
.reviews .slick-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .reviews .slick-dots {
    bottom: -30%;
  }
}
.reviews__dots {
  margin-top: 4.1025641026vw;
  display: flex;
  justify-content: center;
  gap: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .reviews__dots {
    margin-top: 1.5533980583vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__dots {
    margin-top: 1rem;
  }
}
.reviews .reviews__dot {
  display: inline-block;
  width: 2.5641025641vw;
  height: 2.5641025641vw;
  background: #ccc;
  border-radius: 50%;
  margin: 0 1.2820512821vw;
  transition: background 0.3s;
}
@media screen and (min-width: 768px) {
  .reviews .reviews__dot {
    width: 0.9708737864vw;
    height: 0.9708737864vw;
    margin: 0 0.4854368932vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews .reviews__dot {
    width: 0.9375rem;
    height: 0.9375rem;
    margin: 0 0.3125rem;
  }
}
.reviews .slick-dots li.slick-active .reviews__dot {
  background: #ff6600;
}
.reviews__dot {
  width: 2.3076923077vw;
  height: 2.3076923077vw;
  border-radius: 50%;
  background-color: #ccc;
  display: block;
  margin: 0 1.0256410256vw;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .reviews__dot {
    width: 0.8737864078vw;
    height: 0.8737864078vw;
    margin: 0 0.3883495146vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__dot {
    width: 0.5625rem;
    height: 0.5625rem;
    margin: 0 0.25rem;
  }
}
.reviews__menu {
  background-color: #fa7da3;
  color: #fff;
  font-size: 4.6153846154vw;
  text-align: center;
  padding: 3.5897435897vw 0;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
  border: 1px solid #fa7da3;
}
@media screen and (min-width: 768px) {
  .reviews__menu {
    font-size: 1.7475728155vw;
    text-align: center;
    padding: 0.6504854369vw 0;
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__menu {
    font-size: 1.125rem;
    text-align: center;
    padding: 0.41875rem 0;
    border-radius: 0.625rem 0.625rem 0 0;
  }
}
.reviews__description {
  background-color: #fff;
  padding: 5.1282051282vw 0;
  text-align: center;
  border: 1px solid #fa7da3;
  border-radius: 0 0 2.5641025641vw 2.5641025641vw;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .reviews__description {
    padding: 0.7281553398vw 0;
    border-radius: 0 0 0.9708737864vw 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__description {
    padding: 0.46875rem 0;
    border-radius: 0 0 0.625rem 0.625rem;
  }
}
.reviews__content {
  text-align: left;
  width: 45.641025641vw;
}
@media screen and (min-width: 768px) {
  .reviews__content {
    width: 17.2815533981vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__content {
    width: 11.125rem;
  }
}
.reviews__img {
  margin: 0 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .reviews__img {
    margin: 0 1.4563106796vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__img {
    margin: 0 0.9375rem;
  }
}
.reviews__reviewer-info {
  color: #fa7da3;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .reviews__reviewer-info {
    font-size: 1.5533980583vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__reviewer-info {
    font-size: 1rem;
  }
}
.reviews__text {
  font-size: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 1.359223301vw;
  }
}
@media screen and (min-width: 1030px) {
  .reviews__text {
    font-size: 0.875rem;
  }
}

/* フッター */
.footer {
  background-color: #fa7da3;
  text-align: center;
  padding: 3.5897435897vw 0 2.8205128205vw 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.4757281553vw 0 2.7184466019vw 0;
  }
}
@media screen and (min-width: 1030px) {
  .footer {
    padding: 1.59375rem 0 1.75rem 0;
  }
}/*# sourceMappingURL=main.css.map */