//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390;    // スマホ用のカンプ幅
$pc-full-width: 1440;    // PC用のカンプ幅
$pc-content-width: 1030; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ: 
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット: 
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC: 
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 1;

//-----------------------------------------------------
//    scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//-----------------------------------------------------
//    scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

/* 共通 */
body {
    margin: 0 auto;
    // font-family: 'Noto Serif JP', serif;
    font-family: "Noto Sans JP", sans-serif;

    line-height: 1.75;
    color: #333;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 変数 */
@mixin d-flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin d-flex-flex-direction {
    display: flex;
    flex-direction: column;
}

/* ヘッダー */
.header {
    &__container {
        max-width: 1030px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq() {
            height: vwt(93);
        }
        @include mq(lg) {
            height: px2Rem(93);
        }
    }
    &__btns {
        display: flex;
    }
    &__link {
        display: block;
    }
    &__arrow-image {
        margin-bottom: vw(4);
        @include mq() {
            margin-bottom: vwt(4);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(4);
        }
    }
}

.btn {
    border-radius: vw(20);
    font-size: vw(12);
    line-height: 1.75;
    padding: vw(9) vw(9) vw(10) vw(11);
    display: block;
    @include mq() {
        padding: vwt(6) vwt(26);
        border-radius: vwt(25.18);
        font-size: vwt(21.2);
    }
    @include mq(lg) {
        padding: px2Rem(6) px2Rem(26);
        border-radius: px2Rem(25.18);
        font-size: px2Rem(21.2);
    }
}
.btn--pink {
    background-color: #fa7da3;
    margin-right: vwt(10);
}
.btn--green {
    background-color: #49c43d;
    padding: px2Rem(6) px2Rem(18);
}

/* メインビジュアル */
.cover {
    background-color: #fa7da3;
    background-image: url('/assets/image/main_visual_sp.png');
    background-position: bottom left;
    background-size: 55%;
    height: vw(319);
    @include mq() {
        height: vwt(612);
        background-image: url('/assets/image/main_visual_pc.png');
        background-size: 33%;
        background-position: calc(19% + 20px) bottom;
    }

    @include mq(lg) {
        height: px2Rem(612);
    }
    &__title {
        font-size: vw(42);
        margin: vw(20) 0 0 vw(16);
        @include mq() {
            margin: 0 0 0 vwt(16);
            line-height: 1;
        }
        @include mq(lg) {
            margin: 0 0 0 px2Rem(16);
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1030px;
        margin-inline: auto;
        @include mq() {
            justify-content: space-evenly;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        background-color: #fca4bf;
        box-shadow: 4px 4px #e77497;
        @include mq() {
            padding: vwt(24) vwt(60);
            margin-right: vwt(10);
        }
        @include mq(lg) {
            padding: px2Rem(24) px2Rem(60);
            margin-right: px2Rem(20);
        }
    }

    &__text--font-color-pink {
        background-color: #FFF;
        color: #fa7da3;
        font-size: vw(13);
        font-weight: bold;
        padding: vw(5) vw(3) vw(6) vw(4);
        margin-right: vw(15);
        @include mq() {
            padding: vwt(12) vwt(8) vwt(12) vwt(10);
            margin-right: vwt(15);
            font-size: vwt(29.25);
        }
        @include mq(lg) {
            padding: px2Rem(12) px2Rem(8) px2Rem(12) px2Rem(10);
            margin-right: px2Rem(15);
            font-size: px2Rem(29.25);
        }
    }
    &__text--font-color-white {
        color: #FFF;
        font-size: vw(24);
        font-weight: bold;
        @include mq() {
            font-size: vwt(54);
        }
        @include mq(lg) {
            font-size: px2Rem(54);
        }
    }
    &__price {
        font-size: vw(76);
        font-weight: bold;
        color: #fffd7a;
        line-height: 0.76;
        @include mq() {
            font-size: vwt(171);
        }
        @include mq(lg) {
            font-size: px2Rem(171);
        }
    }
    &__price--font-small {
        font-size: vw(36);
        @include mq() {
            font-size: vwt(81);
        }
        @include mq(lg) {
            font-size: px2Rem(81);
        }
    }

    &__price-month {
        color: #FFF;
        text-align: right;
        padding-right: vw(28);
        @include mq() {
            padding-right: vwt(26.48);
            font-size: vwt(26.48);
            margin-right: vwt(60);
        }
        @include mq(lg) {
            padding-right: px2Rem(26.48);
            font-size: px2Rem(26.48);
            margin-right: px2Rem(60);
        }
    }
    &__price-month---small {
        @include mq() {
            font-size: vwt(17.02);
        }
        @include mq(lg) {
            font-size: px2Rem(17.02);
        }
    }
    &__points {
        margin:vw(25) vw(26) 0 vw(26);
        @include mq() {
            margin:vwt(43) vwt(20) 0 0;
        }
        @include mq(lg) {
            margin:px2Rem(43) px2Rem(20) 0 0;
        }
    }
    &__point {
        border: 1px solid #FFF;
        text-align: center;
        margin-bottom: vw(12);
        color: #FFF;
        font-size: vw(18);
        @include mq() {
            margin-bottom: vw(20);
            font-size: vwt(28);
            line-height: 2.4;
        }
        @include mq(lg) {
            margin-bottom: px2Rem(20);
            font-size: px2Rem(28);
        }
    }
}

/* 今だけプレゼント */
.present {
    background-color: #fffedd;
    padding: vw(25) vw(21) vw(16) vw(21);
    @include mq() {
        padding: vwt(33) vwt(21) vwt(16) vwt(21);
    }
    @include mq(lg) {
        padding: px2Rem(33) px2Rem(21) px2Rem(16) px2Rem(21);
    }
    &__container {
        max-width: 550px;
        margin-inline: auto;
    }
    &__text {
        font-size: vw(21);
        font-weight: normal;
        color: #fa7da3;
        position: relative;
        text-align: center;
        margin-bottom: vw(16);
        @include mq() {
            font-size: vwt(34);
            margin-bottom: vwt(16);
        }
        @include mq(lg) {
            font-size: px2Rem(34);
            margin-bottom: px2Rem(16);
        }
    }
    &__text::before,
    &__text::after {
        position: relative;
        display: inline-block;
        content: "";
        background: #fa7da3;
        width: vw(2);
        height: 1em;
        margin-top: -.2em;
        vertical-align: middle;
        @include mq() {
            width: vwt(2);
        }
        @include mq(lg) {
            width: px2Rem(2);
        }
    }
    &__text::before {
        transform: rotate(-35deg);
        margin-right: vw(10);
        @include mq() {
            margin-right: vwt(10);
        }
        @include mq(lg) {
            margin-right: px2Rem(10);
        }
    }
    &__text::after {
        transform: rotate(35deg);
        margin-left: vw(0);
    }
    &__content {
        text-align: center;
    }
    &__text--background-pink {
        background-color: #fa7da3;
        color: #FFF;
        border-radius: vw(10) vw(10) 0 0;
        border: 1px solid #fa7da3;
        padding: vw(7) 0;
        font-size: vw(21);
        @include mq() {
            border-radius: vwt(10) vwt(10) 0 0;
            padding: vwt(7) 0;
            font-size: vwt(21);
        }
        @include mq(lg) {
            border-radius: px2Rem(10) px2Rem(10) 0 0;
            padding: px2Rem(7) 0;
            font-size: px2Rem(21);
        }
    }
    &__text--background-white {
        background-color: #FFF;
        border-radius: 0 0 vw(10) vw(10);
        border: 1px solid #fa7da3;
        padding: vw(14) 0;
        font-size: vw(27);
        color: #fa7da3;
        @include mq() {
            border-radius: 0 0 vwt(10) vwt(10);
            padding: vwt(14) 0;
            font-size: vwt(27);
        }
        @include mq(lg) {
            border-radius: 0 0 px2Rem(10) px2Rem(10);
            padding: px2Rem(14) 0;
            font-size: px2Rem(27);
        }
    }
    &__text-three {
        font-size: vw(42);
        font-weight: 600;
        @include mq() {
            font-size: vwt(42);
        }
        @include mq(lg) {
            font-size: px2Rem(42);
        }
    }
    &__description {
        font-size: vw(10);
        text-align: center;
        margin-top: vw(10);
        @include mq() {
            font-size: vwt(10);
            margin-top: vwt(10);
        }
        @include mq(lg) {
            font-size: px2Rem(10);
            margin-top: px2Rem(10);
        }
    }
}

/* カウンセリング予約申し込み */
.application {
    padding: vw(20) vw(20) vw(30) vw(20);
    @include mq() {
        padding: vwt(20) vwt(20) vwt(30) vwt(20);
    }
    @include mq(lg) {
        padding: px2Rem(20) px2Rem(20) px2Rem(30) px2Rem(20);
    }
    &__container {
        max-width: 1030px;
        margin-inline: auto;
    }
    &__text {
        font-size: vw(21);
        color: #fa7da3;
        text-align: center;
        font-weight: 600;
        margin-bottom: vw(13);
        @include mq() {
            font-size: vwt(21);
            margin-bottom: vwt(13);
        }
        @include mq(lg) {
            font-size: px2Rem(21);
            margin-bottom: px2Rem(13);
        }
    }
    &__btn {
        font-size: vw(21);
        border-radius: vw(40);
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include mq() {
            font-size: vwt(21);
            border-radius: vwt(40);
        }
        @include mq(lg) {
            font-size: px2Rem(21);
            border-radius: px2Rem(40);
        }
    }

    &__btn-text {
        width: vw(200);
        margin: 0 vw(50);
        @include mq() {
            width: vwt(200);
            margin: 0 vwt(50);
        }
        @include mq(lg) {
            width: px2Rem(200);
            margin: 0 px2Rem(50);
        }
    }
}

/* 無料体験内容 */
.free-trial {
    padding: 0 vw(20) vw(40) vw(20);
    @include mq() {
        padding: 0 vwt(20) vwt(40) vwt(20);
    }
    @include mq(lg) {
        padding: 0 px2Rem(20) px2Rem(40) px2Rem(20);
    }
    &__container {
        max-width: 1030px;
        margin-inline: auto;
    }
    &__text {
        font-size: vw(17);
        text-align: center;
        padding: vw(12) 0;
        font-weight: 600;
        color: #50bfff;
        border-top: 1px solid #50bfff;
        border-bottom: 1px solid #50bfff;
        @include mq() {
            font-size: vwt(17);
            padding: vwt(12) 0;
        }
        @include mq(lg) {
            font-size: px2Rem(17);
            padding: px2Rem(12) 0;
        }
    }
    &__hair-removal {
        margin-top: vw(15);
        @include mq() {
            margin-top: vwt(15);
        }
        @include mq(lg) {
            margin-top: px2Rem(15);
        }
    }
    &__course {
        font-size: vw(14);
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
    &__text--mini {
        font-size: vw(11);
        @include mq() {
            font-size: vwt(11);
        }
        @include mq(lg) {
            font-size: px2Rem(11);
        }
    }
}

/* KIRAMEKI BEAUTY LABOが選ばれる 3つのポイント */
.select-points {
    background-color: #fdf0f5;
    padding: vw(41) vw(21);
    @include mq() {
        padding: vwt(41) vwt(21);
    }
    @include mq(lg) {
        padding: px2Rem(41) px2Rem(21);
    }
    &__container {
        max-width: 1030px;
        margin-inline: auto;
    }
    &__title {
        font-size: vw(18);
        align-items: center;
        display: flex;
        justify-content: center;
        @include mq() {
            font-size: vwt(18);
        }
        @include mq(lg) {
            font-size: px2Rem(18);
        }
    }
    &__three-point {
        font-size: vw(32);
        text-align: center;
        color: #fa7da3;
        font-weight: bold;
        @include mq() {
            font-size: vwt(32);
        }
        @include mq(lg) {
            font-size: px2Rem(32);
        }
    }
    &__content {
        margin-top: vw(32);
        @include mq() {
            margin-top: vwt(32);
        }
        @include mq(lg) {
            margin-top: px2Rem(32);
        }
    }
    &__heading {
        background-color: #fa7da3;
        color: #fff;
        font-size: vw(18);
        text-align: center;
        padding: vw(14) 0;
        border-radius: vw(10) vw(10) 0 0;
        border: 1px solid #fa7da3;
        @include mq() {
            font-size: vwt(18);
            padding: vwt(14) 0;
            border-radius: vwt(10) vwt(10) 0 0;
        }
        @include mq(lg) {
            font-size: px2Rem(18);
            padding: px2Rem(14) 0;
            border-radius: px2Rem(10) px2Rem(10) 0 0;
        }
    }
    &__description {
        background-color: #fff;
        padding: vw(20) vw(21);
        text-align: center;
        border: 1px solid #fa7da3;
        border-radius: 0 0 vw(10) vw(10);
        @include mq() {
            padding: vwt(20) vwt(21);
            border-radius: 0 0 vwt(10) vwt(10);
        }
        @include mq(lg) {
            padding: px2Rem(20) px2Rem(21);
            border-radius: 0 0 px2Rem(10) px2Rem(10);
        }
    }
    &__items {
        display: flex;
        align-items: center;
        margin-top: vw(10);
        justify-content: space-between;
        @include mq() {
            margin-top: vwt(10);
        }
        @include mq(lg) {
            margin-top: px2Rem(10);
        }
    }
    &__text {
        text-align: left;
    }
    &__item {
        text-align: center;
        width: vw(143);
        @include mq() {
            width: vwt(143);
        }
        @include mq(lg) {
            width: px2Rem(143);
        }
    }
    &__image {
        border: 1px solid #fa7da3;
        padding: 0 vw(38);
        height: vw(85);
        display: flex;
        align-items: center;
        @include mq() {
            padding: 0 vwt(38);
            height: vwt(85);
        }
        @include mq(lg) {
            padding: 0 px2Rem(38);
            height: px2Rem(85);
        }
    }
    &__menu {
        font-size: vw(14);
        margin-top: vw(9);
        @include mq() {
            font-size: vwt(14);
            margin-top: vwt(9);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
            margin-top: px2Rem(9);
        }
    }
    &__store-name {
        height: vw(85);
        padding: 0 vw(36);
        font-size: vw(18);
        border: 1px solid #666666;
        display: flex;
        align-items: center;
        @include mq() {
            height: vwt(85);
            padding: 0 vwt(36);
            font-size: vwt(18);
        }
        @include mq(lg) {
            height: px2Rem(85);
            padding: 0 px2Rem(36);
            font-size: px2Rem(18);
        }
    }
    &__text {
        font-size: vw(14);
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
    &__plan {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: vw(12);
        @include mq() {
            gap: vwt(12);
        }
        @include mq(lg) {
            gap: px2Rem(12);
        }
    }
    &__plan-item {
        width: vw(100);
        aspect-ratio: 1 / 1;
        @include mq() {
            width: vwt(100);
        }
        @include mq(lg) {
            width: px2Rem(100);
        }
    }
    &__full-body-plan-text {
        font-size: vw(23);
        font-weight: 600;
        margin-bottom: vw(28);
        @include mq() {
            font-size: vwt(23);
            margin-bottom: vwt(28);
        }
        @include mq(lg) {
            font-size: px2Rem(23);
            margin-bottom: px2Rem(28);
        }
    }
    &__text-point-two {
        font-size: vw(14);
        margin-bottom: vw(18);
        @include mq() {
            font-size: vwt(14);
            margin-bottom: vwt(18);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
            margin-bottom: px2Rem(18);
        }
    }
    &__partial-hair-removal-plan {
        font-size: vw(23);
        font-weight: 600;
        margin: vw(58) vw(28) vw(28);
        @include mq() {
            font-size: vwt(23);
            margin: vwt(58) vwt(28) vwt(28);
        }
        @include mq(lg) {
            font-size: px2Rem(23);
            margin: px2Rem(58) px2Rem(28) px2Rem(28);
        }
    }
    &__point-two {
        padding: vw(20) 0;
        @include mq() {
            padding: vwt(20) 0;
        }
        @include mq(lg) {
            padding: px2Rem(20) 0;
        }
    }
    &__plan-text {
        font-size: vw(14);
        color: #fa7da3;
        font-weight: 600;
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
}

/* ほかにも選べる！2つのコース */
.two-courses {
    padding: 0 vw(21);
    @include mq() {
        padding: 0 vwt(21);
    }
    @include mq(lg) {
        padding: 0 px2Rem(21);
    }
    &__container {
        text-align: center;
        max-width: 1030px;
        margin-inline: auto;
    }
    &__content {
        margin-bottom: vw(30);
        @include mq() {
            margin-bottom: vwt(30);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(30);
        }
    }
    &__title {
        font-size: vw(18);
        @include mq() {
            font-size: vwt(18);
        }
        @include mq(lg) {
            font-size: px2Rem(18);
        }
    }
    &__two-course {
        font-size: vw(32);
        font-weight: bold;
        color: #fa7da3;
        margin-bottom: vw(31);
        @include mq() {
            font-size: vwt(32);
            margin-bottom: vwt(31);
        }
        @include mq(lg) {
            font-size: px2Rem(32);
            margin-bottom: px2Rem(31);
        }
    }
    &__first {
        background-color: #fdf0f5;
        border-radius: vw(10) vw(10) 0 0;
        font-size: vw(18);
        color: #fa7da3;
        padding: vw(15) 0;
        border: 1px solid #fa7da3;
        border-bottom: none;
        @include mq() {
            padding: vwt(15) 0;
            border-radius: vwt(10) vwt(10) 0 0;
            font-size: vwt(18);
        }
        @include mq(lg) {
            padding: px2Rem(15) 0;
            border-radius: px2Rem(10) px2Rem(10) 0 0;
            font-size: px2Rem(18);
        }
    }
    &__description {
        border: 1px solid #fa7da3;
        border-top: none;
        border-radius: 0 0 vw(10) vw(10);
        padding: vw(20) vw(21);
        @include mq() {
            border-radius: 0 0 vwt(10) vwt(10);
            padding: vwt(20) vwt(21);
        }
        @include mq(lg) {
            border-radius: 0 0 px2Rem(10) px2Rem(10);
            padding: px2Rem(20) px2Rem(21);
        }
    }
    &__text {
        text-align: left;
        margin-bottom: vw(20);
        @include mq() {
            margin-bottom: vwt(20);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(20);
        }
    }
    &__second {
        background-color: #fdf0f5;
        border-radius: vw(10) vw(10) 0 0;
        font-size: vw(18);
        color: #fa7da3;
        padding: vw(15) 0;
        border: 1px solid #fa7da3;
        border-bottom: none;
        @include mq() {
            border-radius: vwt(10) vwt(10) 0 0;
            font-size: vwt(18);
            padding: vwt(15) 0;
        }
        @include mq(lg) {
            border-radius: px2Rem(10) px2Rem(10) 0 0;
            font-size: px2Rem(18);
            padding: px2Rem(15) 0;
        }
    }
}

/* お客様の声 */
.reviews {
    background-color: #fdf0f5;
    padding: vw(37) 0 0 0;
    @include mq() {
        padding: vwt(37) 0 0 0;
    }
    @include mq(lg) {
        padding: px2Rem(37) 0 0 0;
    }
    &__container {
        max-width: 1030px;
        margin-inline: auto;
    }
    &__title {
        font-size: vw(31.89);
        font-weight: bold;
        color: #fa7da3;
        text-align: center;
        margin: 0 0 vw(26) 0;
        @include mq() {
            font-size: vwt(31.89);
            margin: 0 0 vwt(26) 0;
        }
        @include mq(lg) {
            font-size: px2Rem(31.89);
            margin: 0 0 px2Rem(26) 0;
        }
    }
    .is-active {
        display: block;
    }
    &__items {
        overflow: visible;
    }
    &__items .slick-slide {
        padding: 0 vw(7.5);
        box-sizing: border-box;
        @include mq() {
            padding: 0 vwt(7.5);
        }
        @include mq(lg) {
            padding: 0 px2Rem(7.5);
        }
    }
    
    &__dots {
        margin-top: vw(16);
        display: flex;
        justify-content: center;
        gap: vw(8);
        @include mq() {
            margin-top: vwt(16);
        }
        @include mq(lg) {
            margin-top: px2Rem(16);
        }
    }
    
    &__dot {
        width: vw(9);
        height: vw(9);
        border-radius: 50%;
        background-color: #ccc;
        display: block;
        margin: 0 vw(4);
        cursor: pointer;
        transition: background-color 0.3s;
        @include mq() {
            width: vwt(9);
            height: vwt(9);
            margin: 0 vwt(4);
        }
        @include mq(lg) {
            width: px2Rem(9);
            height: px2Rem(9);
            margin: 0 px2Rem(4);
        }
    }

    .slick-active &__dot {
        background-color: #00AFBF;
    }

    .slick-track {
        height: vw(340);
        @include mq() {
            height: vwt(388);
        }
        @include mq(lg) {
            height: px2Rem(388);
        }
    }
    
    .slick-slider {
        display: flex;
        position: relative;
        align-items: center;
    }
    .slick-dots {
        position:absolute;
        bottom: 5%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }
    &__menu {
        background-color: #fa7da3;
        color: #fff;
        font-size: vw(18);
        text-align: center;
        padding: vw(14) 0;
        border-radius: vw(10) vw(10) 0 0;
        border: 1px solid #fa7da3;
        @include mq() {
            font-size: vwt(18);
            text-align: center;
            padding: vwt(14) 0;
            border-radius: vwt(10) vwt(10) 0 0;
        }
        @include mq(lg) {
            font-size: px2Rem(18);
            text-align: center;
            padding: px2Rem(14) 0;
            border-radius: px2Rem(10) px2Rem(10) 0 0;
        }
    }
    &__description {
        background-color: #fff;
        padding: vw(20) 0;
        text-align: center;
        border: 1px solid #fa7da3;
        border-radius: 0 0 vw(10) vw(10);
        display: flex;
        justify-content: space-between;
        @include mq() {
            padding: vwt(20) 0;
            border-radius: 0 0 vwt(10) vwt(10);
        }
        @include mq(lg) {
            padding: px2Rem(20) 0;
            border-radius: 0 0 px2Rem(10) px2Rem(10);
        }
    }
    &__content {
        width: vw(178);
        text-align: left;
        @include mq() {
            width: vwt(178);
        }
        @include mq(lg) {
            width: px2Rem(178);
        }
    }
    &__img {
        margin: 0 vw(15);
        @include mq() {
            margin: 0 vwt(15);
        }
        @include mq(lg) {
            margin: 0 px2Rem(15);
        }
    }
    &__reviewer-info {
        color: #fa7da3;
        font-size: vw(16);
        @include mq() {
            font-size: vwt(16);
        }
        @include mq(lg) {
            font-size: px2Rem(16);
        }
    }
    &__text {
        font-size: vw(14);
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
}

/* フッター */
.footer {
    background-color: #fa7da3;
    text-align: center;
    padding: vw(14) 0 vw(11) 0;
    @include mq() {
        padding: vwt(14) 0 vwt(11) 0;
    }
    @include mq(lg) {
        padding: px2Rem(14) 0 px2Rem(11) 0;
    }
}
